services:
  - type: web
    name: academia-backend
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm run start:prod
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: DB_SYNC
        value: "false"
      - key: ALLOWED_ORIGINS
        sync: false

